<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>contact</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <div class="contact">
    
   <h4> Name :  {{data.name}}  </h4>

<h4>    tel : {{data.tel}}
</h4>
<h4>
   adress :{{data.adress}}
</h4>

</div>
  </body>
</html>