<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Not work</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
      <div class="NotWork">
    <h1>Soory :) </h1>
    <h3>working time: Monday to Friday,  from 9 to 17 </h3>
    </div>
  </body>
</html>