<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>services</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div class="services"> 
   <h1 > Services de développement Web</h1> 
<p>Nous avons une expertise dans tous les aspects du développement web afin d'aider nos clients à atteindre leur plein potentiel. Mettez votre entreprise en ligne, faites plus de ventes et obtenez plus de prospects.
</p>
    </div>
  </body>
</html>